div.provis-flatbuttons {
  float: left;
  margin-right: 0px;
}

.selected {
  background: #fff;

  behavior: url(/pub/System/ProVisDesignerPlugin/styles/pie.htc);
  box-shadow: 0px 1px 1px #999 inset;
  -webkit-box-shadow: 0px 1px 1px #999 inset;
  -moz-box-shadow: 0px 1px 1px #999 inset;
}

div.provis-shapes {
  margin-top: 40px;
  padding-top: 2px;
  border-top: 1px solid #f3f3f3;
}


select#select-zoom {
  margin: 5px 0 0 5px;
}

div.provis-midleftbar > h5,
div.provis-bottomleftbar > h5 {
  color: #777;
  margin: 5px 0 0 10px;
}

