html, body {
  background-color: #7a8a99;
  color: #333;
  overflow: hidden;
}

div.provis-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

div.provis-topbar {
  height: 30px;
  background: #f3f3f3;

  behavior: url(/pub/System/ProVisDesignerPlugin/styles/pie.htc);
  box-shadow: 0px 1px 3px #000;
  -webkit-box-shadow: 0px 1px 3px #000;
  -moz-box-shadow: 0px 1px 3px #000;
}

div.provis-left-container {
  position: absolute;
  top: 60px;
  left: 10px;
  bottom: 0px;
  width: 225px;
  overflow-x: hidden;
  overflow-y: auto;
}

div.provis-left-container > div {
  display: block;
  float: left;
  width: 222px;
  height: auto;
  margin-bottom: 20px;
  padding-bottom: 10px;
  background: #f3f3f3;
  color: #777;

  behavior: url(/pub/System/ProVisDesignerPlugin/styles/pie.htc);
  border-radius: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

  box-shadow: 0px 1px 3px #000;
  -webkit-box-shadow: 0px 1px 3px #000;
  -moz-box-shadow: 0px 1px 3px #000;
}

div.provis-topleftbar {
  height: 34px;
  padding-bottom: 0px !important;
}

div.provis-apparea {
  background: #fff;
  position: absolute;
  top: 60px;
  left: 250px;
  bottom: 0px;
  right: 0px;
  padding: 0;
  overflow: hidden;
  z-index: 1;

  behavior: url(/pub/System/ProVisDesignerPlugin/styles/pie.htc);
  box-shadow: 0px 1px 3px #000;
  -webkit-box-shadow: 0px 1px 3px #000;
  -moz-box-shadow: 0px 1px 3px #000;
}

div.provis-menu {
  margin-left: 250px;
  width: auto;
}

img#ma-logo-small {
  float: left;
  margin: 0 3px 0 10px;
  background: #10529b;
  padding: 5px 12px;
}

div.provis-flatbuttons {
  float: left;
  margin-right: 0px;
}

a.flat-btn {
  float: left;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
  /*height: 20px;*/
  padding: 7px 12px 3px 12px;
}

a.flat-btn.green {
  background: #389646;
  background-image: url(/pub/System/ProVisDesignerPlugin/assets/save-white.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  padding: 7px 12px 7px 30px;
}

a.flat-btn.red {
  background: #a60000;
  margin-left: 3px;
  background-image: url(/pub/System/ProVisDesignerPlugin/assets/cancel.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 15px;
}

a.flat-btn:hover {
  behavior: url(/pub/System/ProVisDesignerPlugin/styles/pie.htc);
  box-shadow: 0px 1px 1px #333 inset;
  -moz-box-shadow: 0px 1px 1px #333 inset;
  -webkit-box-shadow: 0px 1px 1px #333 inset;
  text-decoration: none;
  color: #fff;
}

a.flat-btn:active {
  behavior: url(/pub/System/ProVisDesignerPlugin/styles/pie.htc);
  box-shadow: 0px 1px 3px #333 inset;
  -moz-box-shadow: 0px 1px 3px #333 inset;
  -webkit-box-shadow: 0px 1px 3px #333 inset;
}

a.btn {
  float: left;
  display: block;
  border: none;
  padding: 7px 5px;
}

a.btn:active,
a.btn:visited {
  text-decoration: none;
}

a.btn:active {
  padding: 7px 5px 2px 5px;
  background: #fff;

  behavior: url(/pub/System/ProVisDesignerPlugin/styles/pie.htc);
  box-shadow: 0px 1px 1px #999 inset;
  -webkit-box-shadow: 0px 1px 1px #999 inset;
  -moz-box-shadow: 0px 1px 1px #999 inset;
}

a.btn:hover {
  cursor: pointer;
  cursor: hand;
  border: 1px solid #ccc;
  padding: 6px 4px;
}

a.btn.toggled {
  background: #fff;
  behavior: url(/pub/System/ProVisDesignerPlugin/styles/pie.htc);
  box-shadow: 0px 1px 1px #999 inset;
  -webkit-box-shadow: 0px 1px 1px #999 inset;
  -moz-box-shadow: 0px 1px 1px #999 inset;
}

a.btn.btn-swimlane {
  background: url(/pub/System/ProVisDesignerPlugin/assets/newLane.png);
  background-repeat: no-repeat;
  background-position: 15px 6px;
  padding: 7px 0 5px 12px;
  font-weight: bold;
  text-decoration: none;
  color: #777;
  width: 222px;
}

a.btn-swimlane:hover,
a.btn-swimlane:active {
  background-color: #fff;
  border: none !important;
  padding: 7px 0 5px 12px;
  behavior: url(/pub/System/ProVisDesignerPlugin/styles/pie.htc);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

div.node {
  display: block;
  float: left;
  width: 96px;
  height: 72px;
  margin: 10px 0 0 10px;
  border: 1px solid #f3f3f3;
}

div.node > span {
  display: block;
  font-size: 0.8em;
  text-align: center;
}

div.hint {
  position:relative;
  width: 22px;
  height: 22px;
  text-align: center;
  background: #ffc771;
  margin: -36px 0;
  display: none;
}

div.layout {
  display: block;
  float: left;
  width: 96px;
  height: 96px;
  margin: 10px 0 0 10px;
  border: 1px solid #f3f3f3;
}

div.layout > img {
  margin: 3px;
}

div.node:hover,
div.layout:hover {
  border: 1px solid #ccc;
  cursor: pointer;
  cursor: hand;
}

.selected {
  background: #fff;

  behavior: url(/pub/System/ProVisDesignerPlugin/styles/pie.htc);
  box-shadow: 0px 1px 1px #999 inset;
  -webkit-box-shadow: 0px 1px 1px #999 inset;
  -moz-box-shadow: 0px 1px 1px #999 inset;
}

div.provis-shapes {
  margin-top: 40px;
  padding-top: 2px;
  border-top: 1px solid #f3f3f3;
}

div.provis-menu > div {
  float: left;
  margin-right: 25px;
}

div.provis-menu > div.toolbar-zoom {
  float: right;
  margin-right: 15px;
}

select#select-zoom {
  margin: 5px 0 0 5px;
}

div.provis-midleftbar > h5,
div.provis-bottomleftbar > h5 {
  color: #777;
  margin: 5px 0 0 10px;
}

