// colors
@light-gray: #f3f3f3;
@dark-gray: #333333;

@body-bg: @light-gray;
@body-fg: #333333;

// page offsets
@offset-top: 60px;
@offset-bottom: 20px;

// topic preview area
@panel-bg: @light-gray;
@adorner-width: 30px;
@adorner-bg: transparent;
