%TMPL:DEF{"htmldoctype"}%<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="%LANG%" lang="%LANG%">%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"head"}%<head>
  %TMPL:P{"windowtitle"}%
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
  <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
  <meta name="robots" content="noindex" /> %HTTP_EQUIV_ON_VIEW%
  <link rel="icon" href="%FAVICON%" type="image/x-icon" />
  <link rel="shortcut icon" href="%FAVICON%" type="image/x-icon" />
  <link rel="alternate" href="%SCRIPTURL{edit}%/%BASEWEB%/%BASETOPIC%?t=%GMTIME{"$epoch"}%" type="application/x-wiki" title="edit %BASETOPIC%" />
  <meta name="description" content="%TOPIC%" />
  <base href="%SCRIPTURL{%SCRIPTNAME%}%/%WEB%/%TOPIC%" /><!--[if IE]></base><![endif]-->
  %TMPL:P{"script"}%
  %TMPL:P{"defaultstyle"}%

  <style type="text/css" media="all">
    @import url('%PUBURLPATH%/%SYSTEMWEB%/ModacSkinTheme/layout.css');
    @import url('%PUBURLPATH%/%SYSTEMWEB%/ModacSkinTheme/style.css');
    @import url('%PUBURLPATH%/%SYSTEMWEB%/ModacSkinTheme/colors.css');
  </style>
  <!--[if lt IE 9]
  <style type="text/css" media="all">
    @import url('%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/css/ie.fix.css');
  </style>
  -->
</head>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"bodystart"}%<body><div>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"bodyend"}%</div></body></html>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"content"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:P{"htmldoctype"}%%TMPL:P{"head"}%
<body>
  <div class="provis-container">
    <div class="topic-preview"></div>
    <div class="provis-left-container">
      <div>
        <div class='node node-selected' data-shape='Rectangle'>
          <span>%MAKETEXT{"Process"}%</span>
          <div id='node-rectangle' class='node-bg'>
            <img src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/node_process.png' />
          </div>
        </div>
        <div class='node' data-shape='Decision'>
          <span>%MAKETEXT{"Decision"}%</span>
          <div id='node-decision' class='node-bg'>
            <img src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/node_decision.png' />
          </div>
        </div>
        <div class='node' data-shape='Document'>
          <span>%MAKETEXT{"Document"}%</span>
          <div id='node-document' class='node-bg'>
            <img src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/node_document.png' />
          </div>
        </div>
        <div class='node' data-shape='DirectAccessStorage'>
          <span>%MAKETEXT{"Database"}%</span>
          <div id='node-directaccessstorage' class='node-bg'>
            <img src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/node_database.png' />
          </div>
        </div>
        <div class='node' data-shape='Terminator'>
          <span>%MAKETEXT{"Start/End"}%</span>
          <div id='node-terminator' class='node-bg'>
            <img src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/node_start.png' />
          </div>
        </div>
        <div class='node' data-shape='Ellipse'>
          <span>%MAKETEXT{"Junction"}%</span>
          <div id='node-ellipse' class='node-bg'>
            <img src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/node_junction.png' />
          </div>
        </div>
      </div>
    </div>
    <div class="provis-topbar">
      <img id='ma-logo-small' border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/ma-logo-small.png' />
      <div class="provis-menu">
        <div class="toolbar-group">
          <a id="btn-save" href='#' class='btn' title='%MAKETEXT{"Save"}%'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/save.png' /></a>
          <a id="btn-cancel" href='#' class='btn' title='%MAKETEXT{"Cancel"}%'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/cancel.png' /></a>
        </div>
        <div class="toolbar-group">
          <a class='btn' href='#' title='%MAKETEXT{"Undo"}%' data-action='undo'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/undo.png' /></a>
          <a class='btn' href='#' title='%MAKETEXT{"Redo"}%' data-action='redo'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/redo.png' /></a>
        </div>
        <div class="toolbar-group">
          <a class='btn' href='#' data-selectable='1' data-action='setBehavior' data-actionargs='0' title='%MAKETEXT{"Select"}%'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/cursor-modify.png' /></a><!--
          --><a class='btn' href='#' data-selectable='1' data-action='setBehavior' data-actionargs='1' title='%MAKETEXT{"Draw"}%'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/cursor-draw.png' /></a><!--
          --><a class='btn btn-selected' href='#' data-selectable='1' data-action='setBehavior' data-actionargs='3' title='%MAKETEXT{"Connect"}%'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/cursor-link.png' /></a><!--
          --><a class='btn' href='#' data-selectable='1' data-action='setBehavior' data-actionargs='12' title='%MAKETEXT{"Pan"}%'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/cursor-pan.png' /></a>
        </div>
        <div class="toolbar-group">
          <a class='btn' href='#' data-action='zoomIn' title='%MAKETEXT{"Zoom in"}%'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/zoomIn.png' /></a><!--
          --><a class='btn' href='#' data-action='zoomOut' title='%MAKETEXT{"Zoom out"}%'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/zoomOut.png' /></a><!--
          --><a class='btn btn-toggled' href='#' data-action='toggleGridVisibility' data-toggable='1' title='%MAKETEXT{"Show grid"}%'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/showGrid.png' /></a><!--
          --><a class='btn btn-toggled' href='#' data-action='toggleSnapToGrid' data-toggable='1' title='%MAKETEXT{"Snap to grid"}%'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/snapToGrid.png' /></a>
        </div>
        <select id='select-zoom'>
          <option value="200">200%</option>
          <option value="175">175%</option>
          <option value="150">150%</option>
          <option value="125">125%</option>
          <option value="100" selected="selected">100%</option>
          <option value="75">75%</option>
          <option value="50">50%</option>
          <option value="25">25%</option>
        </select>
      </div>
    </div>
    <div class="provis-apparea">%TEXT%</div>
    <div class="provis-right-container">
      <div id="adorner" class="chevron-left ui-resizable-handle ui-resizable-w"></div>
      <div id="topic-content">
        <div id="tabs">
          <ul>
            <li><a href="#tabs-1">Tab 1</a></li>
            <li><a href="#tabs-2">Tab 2</a></li>
            <li><a href="#tabs-3">Tab 3</a></li>
          </ul>
          <div id="tabs-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, molestiae, maiores natus debitis qui in commodi eligendi magnam officia sunt amet aspernatur id recusandae quis dignissimos est quasi. At, esse, fugiat, ullam earum commodi expedita debitis facere quam ut quidem neque voluptas dolores quibusdam! Libero, exercitationem suscipit aut deserunt adipisci ipsam. Eius, delectus dolore quidem sint aut quam ut ipsum perferendis dignissimos animi quo aspernatur exercitationem mollitia? Totam, itaque, ducimus, aut, perspiciatis eius animi veritatis iusto cum architecto dolorem voluptatibus sequi a ipsam illo eaque quasi officia aspernatur. Natus esse explicabo beatae laboriosam id quas sed reiciendis non quasi laudantium.</p>
          </div>
          <div id="tabs-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, eos asperiores voluptate officiis vel ipsam blanditiis tempore eius delectus quas. Officia, natus accusantium dolorem tenetur dolor quae perferendis explicabo recusandae! Nemo, repellendus, obcaecati voluptatem aperiam aliquam dolor incidunt magnam excepturi expedita optio soluta possimus laboriosam eum architecto molestias nobis asperiores eaque quis doloremque itaque quod officia odit similique laudantium tenetur quos inventore ad assumenda quia facilis impedit veniam eos distinctio quas consequatur dolorem ipsa! Ex, magni, quas, magnam corporis illo omnis illum blanditiis eos id ut veritatis aliquid nemo a recusandae autem totam dicta sequi repellat molestiae quod porro. Aliquam!</p>
          </div>
          <div id="tabs-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, ad, libero, quis velit repellat nesciunt consectetur consequuntur asperiores dolor a laboriosam reiciendis eligendi ipsum facere nam commodi repellendus magnam sequi. Iusto nobis cupiditate ipsam. Dolor, itaque, veniam, maiores veritatis autem quidem reiciendis voluptates obcaecati alias quod eos placeat id perferendis eius blanditiis nisi iusto. Distinctio, officia veritatis libero fugiat ipsum accusamus quidem adipisci pariatur omnis esse eos fugit voluptate provident enim necessitatibus eaque quas odio tempora quam nulla aspernatur. Voluptate, ducimus, consequatur, est, quod officia asperiores dolore ab error repudiandae animi sint aut aliquid possimus inventore excepturi odit vel soluta!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="label-dialog" style="display:none;">
  <label for="label">Label</label>
      <input type="text" name="label" id="label" />
  </div>
</body></html>
