%TMPL:DEF{"htmldoctype"}%<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="%LANG%" lang="%LANG%">%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"head"}%<head>
  %TMPL:P{"windowtitle"}%
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
  <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
  <meta name="robots" content="noindex" /> %HTTP_EQUIV_ON_VIEW%
  <link rel="icon" href="%FAVICON%" type="image/x-icon" />
  <link rel="shortcut icon" href="%FAVICON%" type="image/x-icon" />
  <link rel="alternate" href="%SCRIPTURL{edit}%/%BASEWEB%/%BASETOPIC%?t=%GMTIME{"$epoch"}%" type="application/x-wiki" title="edit %BASETOPIC%" />
  <meta name="description" content="%TOPIC%" />
  <base href="%SCRIPTURL{%SCRIPTNAME%}%/%WEB%/%TOPIC%" /><!--[if IE]></base><![endif]-->
  %TMPL:P{"script"}%
  %TMPL:P{"defaultstyle"}%

  <style type="text/css" media="all">
    @import url('%PUBURLPATH%/%SYSTEMWEB%/ModacSkinTheme/layout.css');
    @import url('%PUBURLPATH%/%SYSTEMWEB%/ModacSkinTheme/style.css');
    @import url('%PUBURLPATH%/%SYSTEMWEB%/ModacSkinTheme/colors.css');
  </style>
  <!--[if lt IE 9]
  <style type="text/css" media="all">
    @import url('%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/css/ie.fix.css');
  </style>
  -->
</head>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"bodystart"}%<body><div>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"bodyend"}%</div></body></html>%TMPL:END%%{
---------------------------------------------------
}%%TMPL:DEF{"content"}%%TMPL:END%%{
---------------------------------------------------
}%%TMPL:P{"htmldoctype"}%%TMPL:P{"head"}%
<body>
  <div class="provis-topbar">
    <div class="provis-menu">
      <div class="toolbar-group">
        <a class='btn ui-tooltip' href='#' title='%MAKETEXT{"New swimlane"}%' data-action='createSwimlane' data-tooltip-placement='bottom'><div><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/newLane.png' /></div></a>
      </div>
      <div class="toolbar-group">
        <a href='#' class='btn ui-tooltip' title='%MAKETEXT{"Save"}%' data-action='save' data-tooltip-placement='bottom'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/save.png' /></a>
        <a id='btn-close' href='#' class='btn ui-tooltip' title='%MAKETEXT{"Close"}%' data-tooltip-placement='bottom'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/cancel.png' /></a>
      </div>
      <div class="toolbar-group">
        <a class='btn ui-tooltip' href='#' title='%MAKETEXT{"Undo"}%' data-action='undo' data-tooltip-placement='bottom'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/undo.png' /></a>
        <a id='btn-redo' class='btn ui-tooltip' href='#' title='%MAKETEXT{"Redo"}%' data-action='redo' data-tooltip-placement='bottom'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/redo.png' /></a>
      </div>
      <div class="toolbar-group">
        <a class='btn ui-tooltip' href='#' data-selectable='1' data-action='setBehavior' data-actionargs='0' title='%MAKETEXT{"Select"}%' data-tooltip-placement='bottom'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/cursor-modify.png' /></a><!--
        --><a class='btn ui-tooltip' href='#' data-selectable='1' data-action='setBehavior' data-actionargs='1' title='%MAKETEXT{"Draw"}%' data-tooltip-placement='bottom'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/cursor-draw.png' /></a><!--
        --><a class='btn btn-selected ui-tooltip' href='#' data-selectable='1' data-action='setBehavior' data-actionargs='3' title='%MAKETEXT{"Connect"}%' data-tooltip-placement='bottom'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/cursor-link.png' /></a><!--
        --><a class='btn ui-tooltip' href='#' data-selectable='1' data-action='setBehavior' data-actionargs='12' title='%MAKETEXT{"Pan"}%' data-tooltip-placement='bottom'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/cursor-pan.png' /></a>
      </div>
      <div class="toolbar-group">
        <a class='btn ui-tooltip' href='#' data-action='zoomIn' title='%MAKETEXT{"Zoom in"}%' data-tooltip-placement='bottom'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/zoomIn.png' /></a><!--
        --><a class='btn ui-tooltip' href='#' data-action='zoomOut' title='%MAKETEXT{"Zoom out"}%' data-tooltip-placement='bottom'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/zoomOut.png' /></a><!--
        --><a class='btn btn-toggled ui-tooltip' href='#' data-action='toggleGridVisibility' data-toggable='1' title='%MAKETEXT{"Show grid"}%' data-tooltip-placement='bottom'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/showGrid.png' /></a><!--
        --><a class='btn btn-toggled ui-tooltip' href='#' data-action='toggleSnapToGrid' data-toggable='1' title='%MAKETEXT{"Snap to grid"}%' data-tooltip-placement='bottom'><img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/snapToGrid.png' /></a>
      </div>
      <select id='select-zoom'>
        <option value="200">200%</option>
        <option value="175">175%</option>
        <option value="150">150%</option>
        <option value="125">125%</option>
        <option value="100" selected="selected">100%</option>
        <option value="75">75%</option>
        <option value="50">50%</option>
        <option value="25">25%</option>
      </select><!--
      <div>Delete me!!
      <select id='select-theme'>
        <option value="Theme1" selected="selected">Theme1</option>
        <option value="Theme2">Theme2</option>
        <option value="Theme3">Theme3</option>
        <option value="Theme4">Theme4</option>
        <option value="Theme5">Theme5</option>
        <option value="ModAc">Modac</option>
      </select></div>
    --></div>
  </div>
  <div id="provis-shapes">
    <div>
      <div class='node node-selected' data-shape='Rectangle'>
        <span>%MAKETEXT{"Process"}%</span>
        <div id='node-rectangle' class='node-bg'>
          <img src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/node_process.png' />
        </div>
      </div>
      <div class='node' data-shape='Decision'>
        <span>%MAKETEXT{"Decision"}%</span>
        <div id='node-decision' class='node-bg'>
          <img src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/node_decision.png' />
        </div>
      </div>
      <div class='node' data-shape='Document'>
        <span>%MAKETEXT{"Document"}%</span>
        <div id='node-document' class='node-bg'>
          <img src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/node_document.png' />
        </div>
      </div>
      <div class='node' data-shape='Cylinder'>
        <span>%MAKETEXT{"Database"}%</span>
        <div id='node-directaccessstorage' class='node-bg'>
          <img src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/node_database.png' />
        </div>
      </div>
      <div class='node' data-shape='Terminator'>
        <span>%MAKETEXT{"Start/End"}%</span>
        <div id='node-terminator' class='node-bg'>
          <img src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/node_start.png' />
        </div>
      </div>
      <div class='node' data-shape='Ellipse'>
        <span>%MAKETEXT{"Junction"}%</span>
        <div id='node-ellipse' class='node-bg'>
          <img src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/node_junction.png' />
        </div>
      </div>
    </div>
    <div class="ma-logo">
      <img border='0' src='%PUBURLPATH%/%SYSTEMWEB%/ProVisDesignerPlugin/assets/ma-logo-small-white.png' />
    </div>
  </div>
  <div id="provis-applet">%TEXT%</div>
  <div id="opts-adorner" class="chevron-left"></div>
  <div id="provis-options">
    <div id="opts-topic"></div>
  </div>
  <div id="provis-rightbar">
    <div>
      <a href="#">%MAKETEXT{"Topic preview"}%</a>
      <a href="#">%MAKETEXT{"Properties"}%</a>
      <a href="#">%MAKETEXT{"Themes"}%</a>
    </div>
  </div>
  <div id="close-text" style="display: none;"><!--
    -->%MAKETEXT{"This diagram contains unsaved changes."}%&nbsp;%MAKETEXT{"If you quit ProVis now, these changes will be lost."}%<!--
  --></div>
</body></html>
